doctype html
html
  head
    title  Dance 'til Dawn
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            //- div#logo
            //-     img(src="/static/logo.jpg")
            //-     | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Studio Info]
            li #[a(href="/") Contact Us]  
    section#introSection
        div.naam  Hola! Hip-Hoppers 
        div.line Welcome to Dance 'til Dawn
        div.small Any Body Can Dance
    section#ExpertiseSection
        h2 Our Expertise
        div.card1
            
            h3 Hip-Hop 
        div.card2 
            h3 Contemporary
        div.card3
            h3 Jazz
    section#sponsorSection
        h2 Our Sponsors
        div#sponsors
          img(src= "/static/img1.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/download.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img3.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img4.png", alt= "Sponsor Image", class= "spImage")
          
    footer#footer         
        | Copyright © 2023 Dance'tilDawn.com | All rights reserved       
    script 
      include ../static/index.js       